.root {
    /* -fx-background-color: #f6f9fb; */
    -fx-font-family: "sans";
    -fx-font-weight: normal;
    -fx-font-size: 14px;
    -fx-background-color: white;
    -fx-background-image: url("https://hdwallpaperim.com/wp-content/uploads/2017/09/17/60180-minimalism-ouroboros.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 820 480;
    -fx-background-position: top center;
}

.vbox,
.hbox {
    -fx-alignment: center;
    -fx-padding: 10;
}

.button{
    -fx-display: inline-block;
    -fx-outline: none;
    -fx-line-height: 1;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0, 0, 1);
}
.button:hover {
    -fx-scale-x: 1.06;
    -fx-scale-y: 1.06;
}

.button:pressed{
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0, 0, 2);
}

#dealHandButton {
    -fx-background-color: #f7f7f7;
    -fx-border-color: black;
}

#checkHandButton {
    -fx-background-color: #21e065;
}

#checkHandButton:hover {
    -fx-background-color: #46ec7c;
}

.img:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}

#title {
    -fx-text-fill: linear-gradient(to right, #30CFD0 0%, #330867 100%);
}
